@model IEnumerable<Dish>
<!-- Insert Model Here -->
<div class="row justify-content-center">
    <div class="col-lg-10 rounded justify-content-center m-4 bg-white">
        <div class="row justify-content-center m-3">
            <h1>Welcome to CRUDelicious!</h1>
        </div>
        <div class="row justify-content-center m-3">
            <div class="col-lg-8 mt-3 mb-3 text-center">
                <div class="row justify-content-center m-3 border-bottom">
                    <h4 class="mb-4">Check out some recent dishes</h4>
                </div>
            </div>
            <div class="col-lg-4 mt-3 mb-3 text-center">
                <a href="/new" class="btn btn-success m-3">Add a dish</a> 
            </div>
        </div>
        <div class="row justify-content-start my-2 ml-5">
            @foreach(var dish in Model)
            {
                <div class="col-md-4 text-left">
                    <!-- Remember that when using view imports, you can reference the 'var' directly. -->
                    <a href="/@dish.DishId" class="text-dark">@dish.Name</a>
                </div>
                <div class="col-md-8 text-left">
                    <p>by @dish.Chef</p>
                </div>
            }
        </div>
        <div class="row border-bottom m-3">
    </div>
</div>